data/private/
code/experimental
**/.DS_Store
code/prefer_challenge/data 
code/prefer_challenge/data/ 
code/prefer_challenge/models/
__pycache__/
*.pyc                # Ignore compiled Python files in all directories
*.pyo                # Ignore optimized compiled Python files
*.pyd                # Ignore Windows specific Python extension files
env_ossc/
